<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title th:text="${'QnA - ' + shortedTitle}"></title>
</head>
<body class="w3-container">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

	<div th:replace="questions/header :: header"></div>

	<main class="w3-row">
	<article class="w3-col l8">
	<div class="question w3-card w3-amber">
	<h1 th:text="${question.title}"></h1>

	<p th:text="${question.detail}" class="w3-card-4 w3-padding-large detail"></p>

	<p th:text="${'asked by ' + question.author.username}"></p>
	
	<p>
		<span id="q_upvotes" th:text="${question.upVotes}" class="w3-badge w3-green"></span>
		&nbsp;upvotes and 
		<span id="q_downvotes" th:text="${question.downVotes}" class="w3-badge w3-red"></span>
		&nbsp;downvotes.
	</p>

	<button id="q_upvote" type="button" class="w3-button w3-black w3-hover-green">upvote !</button>
	<button id="q_downvote" type="button" class="w3-button w3-black w3-hover-red">downvote !</button>

	<p id="q_tags">
		<span class="tag w3-tag w3-blue" th:text="${t.name}" th:each="t : ${question.tags}"></span>
	</p>

	<input type="text" list="allTags" id="addTagInput" placeholder="Add Tag">
	<button type="button" id="addTagButton">Add Tag</button>

	<datalist id="allTags">
		<option th:each="t : ${allTags}" th:value="${t.name}">
	</datalist>

	<p><a th:href="@{/questions/}">Back to question list.</a></p>

	</div>

	<div id="answers">

		<form method="POST" th:action="@{/questions/{qid}/new-answer(qid=${question.id})}" th:object="${newAnswer}">
			<textarea id="yourAnswer" th:field="*{content}" placeholder="Enter your answer here ...">
			</textarea><br>
			<button type="submit" class="w3-button w3-purple">Post your answer</button>
		</form>

		<div class="answer w3-card w3-padding-large" th:each="a : ${question.answers}" 
			th:attr="data-id=${a.id}, data-accepted=${a.equals(question.acceptedAnswer)}">

			<p th:text="${a.content}"></p>
			<p th:text="${'by ' + a.author.username}"></p>
			<p>
				<span class="upvotes w3-badge w3-green" th:attr="data-id=${a.id}" th:text="${a.upVotes}"></span> upvotes and 
				<span class="downvotes w3-badge w3-red" th:attr="data-id=${a.id}" th:text="${a.downVotes}"></span> downvotes.
			</p>

			<p th:if="${viewerIsAuthor} and ${!a.equals(question.acceptedAnswer)}">
				<button type="button" th:attr="data-id=${a.id}" data-action="accept">
					Mark answer as accepted
				</button>
			</p>

			<p th:if="${viewerIsAuthor} and ${a.equals(question.acceptedAnswer)}">
				<button type="button" th:attr="data-id=${a.id}" data-action="reject">
					Unmark answer as accepted
				</button>
			</p>

			<button th:attr="data-id=${a.id}" type="button" class="a_upvote w3-button w3-black w3-hover-green">Upvote !</button>
			<button th:attr="data-id=${a.id}" type="button" class="a_downvote w3-button w3-black w3-hover-red">Downvote !</button>

		</div>		


	</div>
	</article>

	<aside id="relatedQuestions" class="w3-col l4">

		<h3>Questions with similair topics</h3>

		<p th:each="rq : ${relatedQuestions}">
			<a th:href="@{/questions/{rqid}(rqid=${rq.id})}"
				th:text="${rq.title}">
			</a>
		</p>

		<p th:if="${relatedQuestions.isEmpty()}">There are no related questions.</p>

	</div>

	</main>

	<script th:inline="javascript">

		document.addEventListener('DOMContentLoaded', (e)=>{
			document.getElementById('q_upvote').addEventListener('click', (evt)=>{
				let url = [[@{/questions/upvote/{qid}(qid=${question.id})}]];
				fetch(url, {method: 'PUT'}).then((res)=>{
					return res.text();
				}).then((data)=>{
					console.log(data);
					if(data == "true") {
						let upvotesSpan = document.getElementById('q_upvotes');
						let upvotes = Number(upvotesSpan.textContent);
						upvotesSpan.textContent = (upvotes + 1);
					}
				});
			});

			/* downvote question */
			document.getElementById('q_downvote').addEventListener('click', (evt)=>{
				let url = [[@{/questions/downvote/{qid}(qid=${question.id})}]];
				fetch(url, {method: 'PUT'}).then((res)=>{
					return res.text();
				}).then((data)=>{
					if(data == "true") {
						let downvotesSpan = document.getElementById('q_downvotes');
						let downvotes = Number(downvotesSpan.textContent);
						downvotesSpan.textContent = (downvotes + 1);
					}
				});
			});


			/* add tag to question */
			document.getElementById('addTagButton').addEventListener('click', (evt)=>{
				let addTagInput = document.getElementById('addTagInput');
				let tag = addTagInput.value;
				let url = [[@{/questions/{qid}/addTag(qid=${question.id})}]];
				let q_tags = document.getElementById('q_tags');
				let datalist = document.getElementById('allTags');
				if(tag) {
					fetch(url, {method:'PUT',body:tag}).then((res)=>{
						return res.text();
					}).then((data)=>{
						if(data == 'true') {
							q_tags.innerHTML += '<span class="tag">'+tag+'</span>&nbsp;';
							allTags.innerHTML += '<option value="'+tag+'">';
							addTagInput.value = '';
						}
					});
				}
			});

			/* upvote answer */
			document.querySelectorAll('.a_upvote').forEach((upVoteButton, i)=>{
				upVoteButton.addEventListener('click', (evt)=>{
					let answerId = evt.target.getAttribute('data-id');
					let url = '/answer/'+answerId +'/upVote';
					fetch(url, {method:'PUT'}).then((res)=>{
						return res.text();
					}).then((data)=>{
						if(data == 'true') {
							let upvotesSpan = document.querySelector('.answer .upvotes[data-id="'+answerId+'"]');
							console.log(upvotesSpan);
							incrementContent(upvotesSpan);
						}
					});
				});
			});

			/* downvote answer */
			document.querySelectorAll('.a_downvote').forEach((downVoteButton, i)=>{
				downVoteButton.addEventListener('click', (evt)=>{
					let answerId = evt.target.getAttribute('data-id');
					let url = '/answer/' + answerId + '/downVote';
					fetch(url, {method: 'PUT'}).then((res)=>{
						return res.text();
					}).then((data)=>{
						if(data == 'true') {
							let downvotesSpan = document.querySelector('.answer .downvotes[data-id="'+answerId+'"]');
							incrementContent(downvotesSpan);
						}
					})
				});
			});

			/* handle click on "Accept" or "Reject" answer buttons */
			document.querySelectorAll('button[data-action][data-id]').forEach((button,i)=>{
				button.addEventListener('click', (evt)=>{
					let ansButton = evt.target;
					let answerId = ansButton.getAttribute('data-id');
					let ansElement = document.querySelector('.answer[data-id="'+ answerId +'"]');
					if(ansButton.getAttribute('data-action') == 'accept') {
						callAcceptAnswer(ansElement, answerId);
					} else {
						callRejectAnswer(ansElement, answerId);
					}
				});
			});

			function callAcceptAnswer(ansElement, answerId) {
				let url = [[@{/questions/{qid}/accept/(qid=${question.id})}]] + answerId;
				fetch(url, {method: 'POST'}).then((res)=>{
					return res.text();
				}).then((data)=>{
					if(data=='true') {
						let existingAnswer = document.querySelector('.answer[data-accepted="true"]');

						if(existingAnswer) {
							makeAnswerRejected(existingAnswer);
							// existingAnswer.setAttribute('data-accepted','false');
							// let existingAnswerButton  = existingAnswer.
							// 	querySelector('button[data-action="reject"]');
							// existingAnswerButton.setAttribute('data-action','accept');
							// existingAnswerButton.

						}
						// acceptedAnswer.setAttribute('data-accepted','true');
						makeAnswerAccepted(ansElement);
					}
				});
			}

			function callRejectAnswer(ansElement, answerId) {
				let url = [[@{/questions/{qid}/reject-accepted-answer(qid=${question.id})}]];
				fetch(url, {method: 'POST'}).then((res)=>{
					return res.text();
				}).then((data)=>{
					if(data == 'true') {
						let existingAnswer = document.querySelector('.answer[data-accepted="true"]');
						console.log(existingAnswer);

						if(existingAnswer) {
							makeAnswerRejected(existingAnswer);
						}
					}
				});
			}

			function incrementContent(elt) {
				elt.textContent = Number(elt.textContent) + 1;
			}

			function makeAnswerAccepted(ansElement) {
				ansElement.setAttribute('data-accepted','true');
				let ansButton = ansElement.querySelector('button[data-action="accept"]');
				ansButton.setAttribute('data-action','reject');
				ansButton.textContent = 'Unmark answer as accepted';
			}

			function makeAnswerRejected(ansElement) {
				ansElement.setAttribute('data-accepted','false');
				let ansButton = ansElement.querySelector('button[data-action="reject"]');
				ansButton.setAttribute('data-action', 'accept');
				ansButton.textContent = 'Mark answer as accepted';
			}


		});

	</script>

	<style>
		article p.detail { background-color: wheat; }
		.tag {margin-right: 7px;}
		.question.w3-card, .answer, #answers form { padding: 20px 40px; }
		#answers form textarea, #answers form button { margin: 8px 0px;}
		#answers form textarea { padding: 8px 16px; border: 2px solid #333333; width:100%;}
		#answers form { margin: 36px 0px; border: 4px solid rgb(56,110, 89);}
		.answer { margin-bottom: 40px; }
		.answer[data-accepted=true]{ background-color: limegreen;}
		.answer[data-accepted=false] {background-color: #ffeb3b;}
		article {padding: 5px 15px;}
		aside { padding-left: 19px;}

		header {
			padding: 20px 40px;
		}

		header h2 a { text-decoration: none; cursor: pointer;}
	</style>
</body>
</html>