<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title th:text="${'QnA - ' + shortedTitle}"></title>
</head>
<body>

	<div th:replace="questions/header :: header"></div>

	<h1 th:text="${question.title}"></h1>

	<p th:text="${question.detail}"></p>
	
	<p>
		<span id="q_upvotes" th:text="${question.upVotes}"></span>
		&nbsp;upvotes and 
		<span id="q_downvotes" th:text="${question.downVotes}"></span>
		&nbsp;downvotes.
	</p>


	<button id="q_upvote" type="button">upvote !</button>
	<button id="q_downvote" type="button">downvote !</button>

	<script th:inline="javascript">




		document.addEventListener('DOMContentLoaded', (e)=>{
			document.getElementById('q_upvote').addEventListener('click', (evt)=>{
				let url = [[@{/questions/upvote/{qid}(qid=${question.id})}]];
				fetch(url, {method: 'PUT'}).then((res)=>{
					return res.text();
				}).then((data)=>{
					console.log(data);
					if(data == "true") {
						let upvotesSpan = document.getElementById('q_upvotes');
						let upvotes = Number(upvotesSpan.textContent);
						upvotesSpan.textContent = (upvotes + 1);
					}
				});
			});

			document.getElementById('q_downvote').addEventListener('click', (evt)=>{
				let url = [[@{/questions/downvote/{qid}(qid=${question.id})}]];
				fetch(url, {method: 'PUT'}).then((res)=>{
					return res.text();
				}).then((data)=>{
					if(data == "true") {
						let downvotesSpan = document.getElementById('q_downvotes');
						let downvotes = Number(downvotesSpan.textContent);
						downvotesSpan.textContent = (downvotes + 1);
					}
				});
			});
		});

	</script>
</body>
</html>